<div>
    <h2>DM Todo</h2>
</div>

<div>
    <ul>
        {{#each things}}
            <li>
                <p>
                    {{this.id}}. {{this.thing}}
                    <button data-thingid="{{this.id}}" class="delete-button">Delete</button>
                </p>
            </li>
        {{/each}}
    </ul>
</div>

<div>
    <h2>Create Todo</h2>
    <form id="create-thing">
        <textarea type="text" name="create" cols="30" rows="1"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <h2>Edit Thing</h2>
    <form id="edit-thing">
        <select name="id">
            {{#each things}}
                    <option value="{{this.id}}">{{this.id}}</option>
            {{/each}}
        </select>
        <textarea name="edit-thing-field" cols="30" rows="1"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>